.App {
  text-align: center;
  color: white;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hideinput{
  display: none;
}
.text-center {
  margin: 0 100px;
}
.button{
  color: black;
}
th {
  background-color: deepskyblue;
  color: black;
}
html, div {
  background-image: url(https://static.pexels.com/photos/34592/pexels-photo.jpg);
  background-size: 600px;
}